table{
    border-collapse: collapse;
    text-align: left;
    thead th{
        border-bottom: black 1px solid;
        padding: 10px;
        background-color: #00b3b3;
    }
    tbody td{
        padding: 10px;
        border-bottom: solid black 1px;    
 
        tr{
            
            border: solid black 1px;    
        }
    }
}