.container{
    background-color: white;
    color: black;
}

.switchTo{

    display: flex;
    p{
        background-color: #00b3b3;
        color: white;
        border: solid black 1px;
        margin: 5%;
        padding: 0.5rem;
    }
}